html{
	height: 100%
}

body{
	background: rgb(245,245,245);
	color: teal;
	font-size: 25px;
	font-family: Helvetica;
	height: 100%
	margin: 0;
	padding: 0;
}

header{
	background-image: url(messagingsite.jpg);
	height:100%;
	background-size: cover;
	color: #fff;
	font-family: 'Arial';
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1{
	font-family: Courier;
	color: black;
	font-weight: lighter;
	font-size: 10px;
}

h4{
	font-family: Courier;
	color:red;
	font-weight:lighter;
	font-size:8px;
}

a{
	color:yellow;
}

a:hover{
	text-decoration: none;
	color:green;
}

p{
	
}