body {
  background-color: teal;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: sans-serif;
   }

h4 {
    color: teal;
    font-size: 40px;
    font-weight: 900px;
    font-family: sans-serif;
}

p{
    color: white;
}
main {
    flex: 1 0 auto;
}

.parallax-container {
    height: "100%";
}