 body, html {height:100%;}


 #sidebar {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 #chat {
     display: flex;
     flex-direction: column;
 }

 #chat-preloader {
     align-self: center;
 }
 
 #message-filler {
     flex-grow: 1;
 }
 

 #add-conversation-button {
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .message-container:first-of-type {
     border-top-width: 0;
 }
 
 .message-container {
     display: flex;
     flex-direction: row;
     /*switch*/
     justify-content: flex-start;
     /*switch*/
     margin-top: 10px;
     padding-top: 10px;
     opacity: 0;
     transition: opacity 1s ease-in-out;
 }
 
 .message-container.visible {
     opacity: 1;
 }
 
 .message-container .pic {
     background-image: url('/images/profile_placeholder.png');
     background-repeat: no-repeat;
     width: 35px;
     height: 35px;
     background-size: 35px;
     border-radius: 30px;
     margin-right: 7.5px;
     /*switch*/
 }
 
 .name {
     color: #009688;
 }
 /*message text container*/
 
 .message-container .message {
     font-weight: 300;
     box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
     color: #040404;
     /*switch*/
     max-width: 35vw;
     padding: 5px 10px 5px 10px;
     /*background: #E5E5EA;*/
     background: #DFDFDF;
     /*switch*/
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     border-radius: 4px;
 }
 /*.message-container .message:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  left: -15px;
  top: 45px;
}*/
 
 .message-container .name {
     margin-left: 7.5px;
     /*switch*/
     color: #bbb;
     font-style: italic;
     font-size: 12px;
 }
 
 #image-form {
     display: flex;
     flex-direction: row;
     width: 48px;
     float: right;
 }
 /*#image-form #submitImage {
    width: auto;
    padding: 0 6px 0 1px;
    min-width: 0;
}*/
 /*#image-form #submitImage .material-icons {
  top: -1px;
}*/
 
 #mediaCapture {
     /*display: none;*/
 }


