body {
    background-color: #009688;
     display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

}

#user-card {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#back-button {
    align-self: center;
}